<template>
  <div id="consultaProcesso" class="container">
    <DadosProcesso></DadosProcesso>
    <LocalizacaoAtual></LocalizacaoAtual>
    <Movimentos></Movimentos>
    <Posicionamentos></Posicionamentos>
  </div>
</template>

<script>
import DadosProcesso from "@/components/consultaProcesso/DadosProcesso";
import LocalizacaoAtual from "@/components/consultaProcesso/LocalizacaoAtual";
import Movimentos from "@/components/consultaProcesso/Movimentos";
import Posicionamentos from "@/components/consultaProcesso/Posicionamentos";

export default {
  components: {
    DadosProcesso,
    LocalizacaoAtual,
    Movimentos,
    Posicionamentos,
  },
  props: ["processo"],
  data() {
    return {};
  },
  methods: {},
  created() {},
  mounted() {},
};
</script>

<style></style>
