<template>
  <div>
    <Menu />
    <div id="consulta-cnpj">
      <div class="container">
        <h1 class="titulo">Atualizar CNPJs</h1>
        <div class="form-bg">
          <b-row>
            <b-col md="12" cols="12">
              <b-form-input
                class="mb-3"
                id="nome"
                v-model="nomeDemandante"
                placeholder="Nome:"
                :state="isNomeok()"
              >
              </b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="7" cols="12">
              <b-form-input
                class="mb-3"
                id="email"
                v-model="emailDemandante"
                placeholder="Email:"
                :state="isEmailok()"
              >
              </b-form-input>
            </b-col>
            <b-col md="5" cols="12">
              <b-form-select
                class="mb-3"
                v-model="dataSelecionada"
                :options="opcoesDatas"
                :state="isDataok()"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="12" cols="12">
              <b-form-textarea
                class="mb-3"
                id="label-cnpjs"
                v-model="cnpjsConsulta"
                placeholder="Consulte o processo pelo CNPJ ou insira uma relação de CNPJ's:"
                lazy-formatter
                :formatter="formataCNPJs"
                :state="isValidCNPJs"
              >
              </b-form-textarea>
            </b-col>
          </b-row>
          <b-row class="d-flex justify-content-center">
            <b-button
              class="btn-atualizar"
              variant="success"
              @click.prevent="buscaCnpjs()"
              :disabled="botaoAtualizar"
              >Atualizar</b-button
            >
          </b-row>
        </div>
      </div>
    </div>

    <b-modal id="modal" size="lg" title="Dados da atualização">
      <template>
        <div class="d-flex">
          <p>
            Arquivo anexado:
            <span class="arquivo-anexado">{{
              arquivoTxt ? arquivoTxt.name : ""
            }}</span>
          </p>
        </div>
        <p>
          Número de CNPJ's encontrados:
          {{
            cnpjListaCampoArquivo.length +
              cnpjsErrosArquivo.length +
              cnpjListaCampoTexto.length +
              cnpjsErrosDigitados.length
          }}
        </p>
        <div class="text-success d-flex">
          <b-icon icon="check" class="h4">></b-icon>
          <p class="text-success">
            CNPJ's validados:
            {{ cnpjListaCampoArquivo.length + cnpjListaCampoTexto.length }}
          </p>
        </div>
        <div class="text-danger d-flex">
          <b-icon icon="exclamation" class="h4"></b-icon>
          <p class="text-danger">CNPJ's com erro: {{ textoErrosArquivo }}</p>
        </div>
        <p>
          Foram encontrados {{ cnpjsErrosArquivo.length }} CNPJ's com erro.
          Corrija-os acima ou confirme para atualizar apenas os
          {{ cnpjListaCampoArquivo.length }} validados.
        </p>
      </template>

      <template>
        <b-button
          variant="danger"
          @click="$bvModal.hide('modal')"
          class="btn-cancelar"
        >
          Cancelar
        </b-button>
        <b-button variant="success" @click="buscaCnpjs()">
          Confirmar atualização
        </b-button>
      </template>
    </b-modal>
    <b-modal
      id="modalSucesso"
      size="md"
      title="CNPJ's sendo atualizados!"
      hide-footer
      centered
    >
      <template>
        <div class="text-center">
          <b-icon icon="check-circle" class="h1 text-success"></b-icon>

          <p>
            Os CNPJ's estão sendo atualizados! Assim que a atualização for
            concluída você receberá um email com o arquivo xlsx da atualização.
          </p>
        </div>
      </template>
    </b-modal>
    <b-modal
      id="modalErro"
      size="md"
      title="Erro ao atualizar"
      hide-footer
      centered
    >
      <template>
        <div class="text-center">
          <b-icon icon="exclamation-circle" class="h1 text-danger"></b-icon>

          <p>
            Não foi possível realizar a atualização. Por favor, tente novamente.
          </p>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import chamadasAPI from "../services/BuscaCnpj";
import Menu from "../components/menu/Menu.vue";

import { cnpjUtils } from "../utils/cnpjUtil";

export default {
  props: ["cnpj"],
  components: { Menu },
  data() {
    return {
      erro: "",
      cnpjsDetalhes: [
        {
          cnpj: 132,
          processos: 5,
          situacao: "Concluído",
        },
      ],
      selected: null,
      opcoesDatas: [
        { value: null, text: "Selecione o período desejado" },
        { value: "30", text: "dos últimos 30 dias" },
        { value: "90", text: "dos últimos 90 dias" },
        { value: "180", text: "dos últimos 180 dias" },
        { value: "1980", text: "desde 01 de janeiro de 1980" },
      ],
      cnpjsConsulta: "",
      cnpjListaCampoArquivo: [],
      cnpjListaCampoTexto: [],
      isValidCNPJs: null,
      isValidNome: null,
      isValidEmail: null,
      isDataValid: null,
      dataSelecionada: null,
      objetoEnviar: {
        filiais: [
          {
            cnpjCompleto: null,
          },
        ],
        dias: null,
        nomeDemandante: "",
        emailDemandante: "",
      },
      nomeDemandante: "",
      emailDemandante: "",
      isMostrarTextInput: "true",
      arquivoTxt: null,
      textoArquivo: "",
      textoErrosArquivo: "",
      cnpjsErrosDigitados: [],
      cnpjsErrosArquivo: [],
      arquivoBloqueado: false,
      botaoAtualizar: false,
    };
  },
  methods: {
    isDataok() {
      if (this.dataSelecionada == null && this.isDataValid == null) return null;
      return !(this.dataSelecionada == null && !this.isDataValid);
    },
    isNomeok() {
      if (!this.nomeDemandante) return null;
      return !(this.nomeDemandante == null && !this.nomeDemandante);
    },
    isEmailok() {
      if (!this.emailDemandante) return null;
      return !(this.emailDemandante == null && !this.emailDemandante);
    },
    tratarArquivo() {
      const vm = this;
      if (vm.arquivoBloqueado) {
        return;
      }
      if (vm.arquivoTxt) {
        let arquivoTemporario = JSON.parse(JSON.stringify(vm.arquivoTxt));
        let fr = new FileReader();
        fr.onload = function() {
          vm.textoArquivo = fr.result;
        };
        fr.readAsText(arquivoTemporario);
        fr.onloadend = function() {
          vm.cnpjsErrosArquivo = [];
          vm.cnpjListaCampoArquivo = [];
          let listaTemp = vm.textoArquivo.replace(/ /g, "").split("\n");

          let cnpjRegex = new RegExp(
            "[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\/[0-9]{4}\\-[0-9]{2}"
          );
          for (let i in listaTemp) {
            if (listaTemp[i]) {
              listaTemp[i] = listaTemp[i].replace(/\s/g, "");
              if (!cnpjRegex.test(listaTemp[i])) {
                if (listaTemp[i].length == 14) {
                  listaTemp[i] = cnpjUtils.format(
                    "XX.XXX.XXX/XXXX-XX",
                    listaTemp[i]
                  );
                } else {
                  vm.cnpjsErrosArquivo.push(listaTemp[i]);
                }
              }
            }
          }
          listaTemp = listaTemp.filter(function(el) {
            return el != null && el != "";
          });
          vm.cnpjListaCampoArquivo = listaTemp;
        };
        vm.arquivoBloqueado = false;
        vm.abrirModalArquivo();
      }
    },
    abrirModalArquivo() {
      this.textoErrosArquivo =
        this.cnpjsErrosArquivo.join("; ") + this.cnpjsErrosDigitados.join("; ");
    },
    async buscaCnpjs() {
      const vm = this;
      vm.botaoAtualizar = true;
      this.objetoEnviar.filiais = [];
      let cnpjListaenviar = [];
      cnpjListaenviar.push.apply(cnpjListaenviar, vm.cnpjListaCampoTexto);
      cnpjListaenviar.push.apply(cnpjListaenviar, vm.cnpjListaCampoArquivo);
      if (!vm.dataSelecionada) {
        vm.isDataValid = false;
        vm.botaoAtualizar = false;
        return;
      }
      vm.objetoEnviar.dias = vm.dataSelecionada;
      if (!vm.nomeDemandante) {
        vm.isValidNome = false;
        vm.botaoAtualizar = false;
        return;
      }
      vm.objetoEnviar.nomeDemandante = vm.nomeDemandante;
      if (!vm.emailDemandante) {
        vm.isValidEmail = false;
        vm.botaoAtualizar = false;
        return;
      }
      vm.objetoEnviar.emailDemandante = vm.emailDemandante;
      for (let i in cnpjListaenviar) {
        if (cnpjListaenviar[i]) {
          let texto = cnpjListaenviar[i]
            .replace(/\./g, "")
            .replace(/\//g, "")
            .replace(/-/g, "")
            .replace(/\n/g, "");
          this.objetoEnviar.filiais.push({ cnpjCompleto: texto });
        }
      }
      chamadasAPI
        .demandarAtualizacaoCnpjs(vm.objetoEnviar)
        .then((response) => {
          this.erro = "";
          this.cnpjsDetalhes = response.data;
          this.$bvModal.show("modalSucesso");
          vm.botaoAtualizar = false;
        })
        .catch((erro) => {
          this.erro = erro.response.data;
          this.cnpjsDetalhes = [];
          this.$bvModal.show("modalErro");
          vm.botaoAtualizar = false;
        });
      vm.objetoEnviar.filiais = [];
      vm.objetoEnviar.dias = null;
      vm.cnpjListaCampoTexto = [];
      vm.cnpjListaCampoArquivo = [];
    },
    formataCNPJs() {
      const vm = this;
      // tem que ter uma lista para enviar e uma para usar no campo de text
      // quando já está previamente formatado 04.945.225/0001-7 , mas tá errado
      // depois que arruma continua errado por causa da validação de string tamanho 14
      vm.cnpjListaCampoTexto = vm.cnpjsConsulta.replace(/ /g, "").split(";");
      let cnpjRegex = new RegExp(
        "[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\/[0-9]{4}\\-[0-9]{2}"
      );
      let cnpjsPendentes = "";
      for (let i in vm.cnpjListaCampoTexto) {
        if (vm.cnpjListaCampoTexto[i]) {
          if (!cnpjRegex.test(vm.cnpjListaCampoTexto[i])) {
            if (vm.cnpjListaCampoTexto[i].length == 14) {
              vm.cnpjListaCampoTexto[i] = cnpjUtils.format(
                "XX.XXX.XXX/XXXX-XX",
                vm.cnpjListaCampoTexto[i]
              );
              vm.isValidCNPJs = true;
            } else {
              vm.cnpjsErrosDigitados = vm.cnpjListaCampoTexto[i];
              vm.isValidCNPJs = false;
            }
          } else {
            vm.isValidCNPJs = true;
          }
        }
      }
      let listaFormatadaString = "";
      if (vm.cnpjListaCampoTexto.length > 0) {
        listaFormatadaString =
          vm.cnpjListaCampoTexto.join("; ") + cnpjsPendentes;
      }
      return listaFormatadaString;
    },
    formataCNPJsErro() {
      const vm = this;
      // tem que ter uma lista para enviar e uma para usar no campo de text
      // quando já está previamente formatado 04.945.225/0001-7 , mas tá errado
      // depois que arruma continua errado por causa da validação de string tamanho 14
      let tempCorrigidos = vm.textoErrosArquivo.replace(/ /g, "").split(";");
      let cnpjRegex = new RegExp(
        "[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\/[0-9]{4}\\-[0-9]{2}"
      );
      vm.cnpjsErrosArquivo = [];
      for (let i in tempCorrigidos) {
        if (tempCorrigidos[i]) {
          if (!cnpjRegex.test(tempCorrigidos[i])) {
            if (tempCorrigidos[i].length == 14) {
              let corrigido = cnpjUtils.format(
                "XX.XXX.XXX/XXXX-XX",
                tempCorrigidos[i]
              );
              vm.cnpjListaCampoArquivo.push(corrigido);
            } else {
              vm.cnpjsErrosArquivo.push(tempCorrigidos[i]);
            }
          }
        }
      }

      vm.textoErrosArquivo = vm.cnpjsErrosArquivo.join(";");
    },
  },
  created() {},
  mounted() {},
};
</script>

<style scoped>
.custom-file {
  display: none;
}
</style>
