<template>
  <div id="lista-principal">
    <Menu />
    <b-overlay :show="loading" rounded="sm">
      <div class="container info-tabela">
        <h1 class="titulo">Consulta de processo</h1>
        <h6 class="subtitulo">
          Consulte os processos pelo número do CPNJ da empresa desejada.
        </h6>
        <div class="form-group">
          <b-row class="justify-content-center">
            <b-col cols="6">
              <label for="example-datepicker">Data Inicial</label>
              <b-form-datepicker v-model="dataInicial" class="mb-2" locale="pt-BR"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }">
              </b-form-datepicker>
            </b-col>
            <b-col cols="6">
              <label for="example-datepicker">Data Final</label>
              <b-form-datepicker v-model="dataFinal" class="mb-2" locale="pt-BR" 
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }">
              </b-form-datepicker>
            </b-col>
            <b-col cols="12">
              <the-mask
                type="text"
                class="form-control mb-3"
                id="input-busca-processo"
                placeholder="Informe o CNPJ"
                v-model="listaProcessosRequest.cnpj"
                :mask="['##.###.###/####-##']"
              />
            </b-col>
            <b-col cols="4" md="3">
              <b-button
                variant="primary"
                class="w-100"
                @click.prevent="buscarListaProcessos(listaProcessosRequest)"
              >
                Buscar no Comprot
              </b-button>  
            </b-col>
            <b-col cols="4" md="3">
              Qtd processos total:{{numTotalProcessos}}
              <br/>
              Qtd processos buscados:{{processos.length}}
            </b-col>
            <b-col cols="4" md="3">
              <b-button
                :disabled="!(numTotalProcessos > 30 && processos.length != numTotalProcessos)"
                variant="primary"
                class="w-100"
                @click.prevent="buscarListaProcessos(proximaPaginaRequest)"
              >
                Buscar proxima página
              </b-button>  
            </b-col>
          </b-row>
          <p style="color: red">{{ erro }}</p>
        </div>
        <div v-if="processos.length !== 0">
          <div>
            <b-table
              stacked="sm"
              striped
              hover
              responsive
              :items="processos"
              :fields="fields"
              show-empty
              :current-page="currentPage"
              :per-page="perPage"
              class="text-break event-table"
              :sort-desc="true"
              :empty-text="'Nenhum processo encontrado para o CNPJ informado.'"
              @row-clicked="myRowClickHandler"
            >
              <template v-slot:cell(dadosCompletos)="data">
              {{mostrarDadosCompletos(data.item)}}
              </template>
            </b-table>

            <div class="row paginacao">
              <b-pagination
                v-model="currentPage"
                :total-rows="processos.length"
                :per-page="perPage"
                class="col-12 col-sm-7"
              ></b-pagination>
              <b-form-group
                label-cols-sm="8"
                label="Itens por página"
                class="mb-0 col-6 col-sm-5"
              >
                <b-form-select
                  v-model="perPage"
                  size="sm"
                  :options="pageOptions"
                ></b-form-select>
              </b-form-group>
            </div>
          </div>
        </div>
      </div>
      <b-modal v-model="modal"  title="Resolva o captcha" @ok="buscarListaProcessosCaptcha(captchaRequest)">
        <img v-bind:src="'data:image/jpeg;base64,'+captchaRequest.imgCaptcha64" style="width:100%"/>
        <audio controls v-bind:src="'data:audio/wav;base64,'+captchaRequest.somCaptcha64" />
        <b-form-group
          label="Resposta captcha:"
          label-for="captcha1"
        >
          <b-form-input
            id="captcha1"
            v-model="captchaRequest.respostaCaptcha"
            required
          />
        </b-form-group>
        <span>Dicas do captcha:</span>
          <br/>- Nunca tem o número "0", é sempre a letra "o"
          <br/>- a letra "L" só aparece maiúscula, todos os outros casos são o número "1"
          <br/>- a letra "i" só aparece minúscula
      </b-modal>
      <b-modal v-model="modal2"  title="Resolva o captcha" @ok="buscarProcessoCaptcha(captchaRequest)">
        <img v-bind:src="'data:image/jpeg;base64,'+captchaRequest.imgCaptcha64" style="width:100%"/>
        <audio controls v-bind:src="'data:audio/wav;base64,'+captchaRequest.somCaptcha64" />
        <b-form-group
          label="Resposta captcha:"
          label-for="captcha2"
        >
          <b-form-input
            id="captcha2"
            v-model="captchaRequest.respostaCaptcha"
            required
          />
        </b-form-group>
        <span>Dicas do captcha:</span>
          <br/>- Nunca tem o número "0", é sempre a letra "o"
          <br/>- a letra "L" só aparece maiúscula, todos os outros casos são o número "1"
          <br/>- a letra "i" só aparece minúscula
      </b-modal>
    </b-overlay>
  </div>
</template>

<script>
//import chamadasAPI from '@/services/BuscaCnpj';
import comprotApi from '@/services/Comprot';
import Menu from '@/components/menu/Menu.vue';
import { utils } from '@/utils/dataUtil';

import { cnpjUtils } from '@/utils/cnpjUtil';

import { TheMask } from 'vue-the-mask';

export default {
  props: ['cnpj'],
  components: {  TheMask, Menu },
  data() {
    return {
      loading:false,
      modal:false,
      modal2:false,
      dataInicial:new Date(new Date().setMonth(new Date().getMonth()-3)),
      dataFinal: new Date(),
      erro: '',
      cnpjAtual:"",
      processos: [],
      processosMap:{},
      numTotalProcessos:0,
      buscaCnpj: '',
      listaProcessosRequest:{
        cnpj:"",
        numUltimoProcesso:"",
        dataInicial:"",
        dataFinal:"",
      },
      proximaPaginaRequest:{
        cnpj:"",
        numUltimoProcesso:"",
        dataInicial:"",
        dataFinal:"",
      },
      processosRequest:{
        numProcesso:""
      },
      captchaRequest:{
        request:null,
        token:"",
        respostaCaptcha:"",
        imgCaptcha64:"",
        somCaptcha64:"",
      },
      fields: [
        {
          key: 'dataProtocolo',
          label: 'Data de Protocolo',
          sortable: false,
          formatter: utils.maskData,
        },
        {
          key: 'nomeInteressado',
          sortable: false,
        },
        {
          key: 'numeroProcessoEditado',
          sortable: false,
          label: 'Processo',
        },
        {
          key: 'dadosCompletos',
          sortable: false,
          label: 'Dados completos',
        },
        {
          key: 'acoes',
          sortable: false,
          thStyle: {
            color: '#1268b3',
          },
        },
      ],
      perPage: 30,
      pageOptions: [6, 10, 20,30, 40, 80],
      currentPage: 1,
      filter: null,
    };
  },
  methods: {

    //BUSCAR LLISTA DE PROCESSOS
    async buscarListaProcessos(request) {
      const vm = this;
      request.dataInicial = new Date(vm.dataInicial).getTime();
      request.dataFinal = new Date(vm.dataFinal).getTime();
      if(request.dataInicial > request.dataFinal){
        vm.erro = 'Datas inválidas.';
        return;
      }
      if (!cnpjUtils.validarCNPJ(request.cnpj)){
        vm.erro = 'Informe um CNPJ válido.';
        return;
      }
      if(vm.cnpjAtual != request.cnpj){
        vm.cnpjAtual = request.cnpj;
        vm.listaProcessosRequest.numUltimoProcesso = "";
        vm.processos = [];
        vm.processosMap = {};
      }
      
      vm.loading = true;
      comprotApi
        .buscarListaProcessos(request)
        .then((response) => {
          vm.modal = true;
          this.$nextTick(() => document.getElementById("captcha1").focus());
          vm.captchaRequest = response.data;
          vm.erro = "";
          vm.loading = false;
        })
        .catch((erro) => {
          if(erro!= null 
          && erro.response != null 
          && erro.response.status != null 
          && (erro.response.status == 500||erro.response.status == 417)){
            vm.erro = erro.response.data;
          }else{
            vm.erro = "Não foi possível buscar o captcha";
            console.log(erro);
          }
          vm.processos = [];
          vm.loading = false;
        }).finally(()=>{this.$nextTick(() => document.getElementById("captcha1").focus());});
    },
    async buscarListaProcessosCaptcha(captchaRequest) {
      const vm = this;
      if (captchaRequest.respostaCaptcha != null && captchaRequest.respostaCaptcha.length != 0) {
        vm.loading = true;
        comprotApi
          .buscarListaProcessosCaptcha(captchaRequest)
          .then((response) => {
            vm.modal = false;
            document.getElementById("input-busca-processo").focus();
            vm.addUnique(response.data.processos)
            vm.numTotalProcessos = response.data.numProcessoTotal;
            vm.proximaPaginaRequest.cnpj = vm.listaProcessosRequest.cnpj;
            vm.proximaPaginaRequest.dataInicial = vm.listaProcessosRequest.dataInicial;
            vm.proximaPaginaRequest.dataFinal = vm.listaProcessosRequest.dataFinal;
            vm.proximaPaginaRequest.numUltimoProcesso = response.data.numUltimoProcesso;
            vm.erro = "";
            vm.loading = false;
          })
          .catch((erro) => {
            if(erro!= null 
            && erro.response != null 
            && erro.response.status != null 
            && (erro.response.status == 500||erro.response.status == 417)){
              vm.erro = erro.response.data;
              vm.loading = false;
            }else{
              vm.buscarListaProcessos(captchaRequest.request);
              vm.erro = "Algo deu errado, resolva outro captcha.";
            }
            console.log(erro);
          });
      } else {
        vm.erro = 'Você precisa responder o captcha.';
      }
    },
    //BUSCAR DADOS TOTAL PROCESSO
    async buscarProcesso(request) {
      const vm = this;
      vm.loading = true;
      comprotApi
        .buscarProcesso(request)
        .then((response) => {
          vm.loading = false;
          vm.modal2 = true;
          this.$nextTick(() => document.getElementById("captcha2").focus());
          vm.captchaRequest = response.data;
          vm.erro = "";
        })
        .catch((erro) => {
          vm.loading = false;
          vm.erro = "Não foi possível buscar o captcha";
          console.log(erro);
        }).finally(()=>{this.$nextTick(() => document.getElementById("captcha2").focus());});
    },
    async buscarProcessoCaptcha(captchaRequest) {
      const vm = this;
      if (captchaRequest.respostaCaptcha != null && captchaRequest.respostaCaptcha.length != 0) {
        vm.loading = true;
        comprotApi
          .buscarProcessoCaptcha(captchaRequest)
          .then((response) => {
            vm.modal2 = false;
            vm.loading = false;
            document.getElementById("input-busca-processo").focus();
            for(let i=0; i<vm.processos.length; i++){
              if(vm.processos[i].numeroProcessoEditado.trim() == response.data.numeroProcessoEditado){
                vm.processos[i].dadosCompletos = true;
                vm.processos[i].dataConsulta = response.data.dataConsulta;
              }
            }
            vm.processos = vm.processos.slice();
            vm.erro = "";
          })
          .catch((erro) => {
            vm.buscarProcesso(captchaRequest.request);
            vm.erro = "Algo deu errado, resolva outro captcha.";
            console.log(erro);
          });
      } else {
        vm.erro = 'Você precisa responder o captcha.';
      }
    },


    myRowClickHandler(record) {
      const vm = this;
      vm.processosRequest.numProcesso = record.numeroProcessoEditado;
      vm.buscarProcesso(vm.processosRequest);
    },
    mostrarDadosCompletos(item){
      return item.dadosCompletos == true? ("Sim - " + utils.maskData(item.dataConsulta)):"Não";
    },
    addUnique(novosProcessos){
      const vm = this;
      for(let i=0; i<novosProcessos.length; i++){
        let val = novosProcessos[i];
        let key = val.numeroProcessoEditado;
        if(vm.processosMap[key] == null)
          vm.processosMap[key] = val;
      }
      vm.processos = Object.values(vm.processosMap);
    }
  },
  created() {
    
  },
  mounted(){
    document.getElementById("input-busca-processo").focus();
  }
};
</script>

<style scoped></style>
