<template>
  <div>
    <BuscaCnpj />
  </div>
</template>

<script>
import BuscaCnpj from "@/views/ListaProcessosPrincipal.vue";
export default {
  components: {
    BuscaCnpj,
  },
  methods: {
  },
};
</script>
