<template>
  <div>
    <b-table
      stacked="sm"
      striped
      hover
      responsive
      tbody-tr-class="pointer"
      :items="cnpjsDetalhes"
      :fields="fields"
      show-empty
      :current-page="currentPage"
      :per-page="perPage"
      class="text-break event-table"
      :sort-desc="true"
      :filter="filter"
      @filtered="onFiltered"
      :empty-text="'Nenhum CNPJ foi encontrado.'"
    >
    </b-table>

    <div class="row">
      <div class="col-md-6">
        <b-pagination
          v-model="currentPage"
          :total-rows="cnpjsDetalhes.length"
          :per-page="perPage"
        ></b-pagination>
      </div>
      <div class="col-md-6">
        <b-form-group label-cols-sm="3" label="Itens por página" class="mb-0">
          <b-form-select
            v-model="perPage"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </div>
    </div>
  </div>
</template>

<script>
import router from '../../router/index';

export default {
  props: ['cnpjsDetalhes'],
  data() {
    return {
      fields: [
        {
          key: 'cnpj',
          label: 'CNPJ',
          sortable: true,
        },
        {
          key: 'processos',
          sortable: true,
          label: 'Processos',
        },
        {
          key: 'situacao',
          sortable: true,
          label: 'Situação',
        },
      ],
      perPage: 5,
      pageOptions: [5, 10, 20, 40, 80],
      currentPage: 1,
      filter: null,
    };
  },
  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    verProcesso(item) {
      console.log(item);
      router.push(`/processo/info/${item.numeroProcessoEditado}`);
    },
  },
};
</script>

<style></style>
