<template>
  <div>
    <b-table
      stacked="sm"
      striped
      hover
      responsive
      :items="processos"
      :fields="fields"
      show-empty
      :current-page="currentPage"
      :per-page="perPage"
      class="text-break event-table"
      :sort-desc="true"
      :filter="filter"
      @filtered="onFiltered"
      :empty-text="'Nenhum processo encontrado para o CNPJ informado.'"
    >
      <!--<template v-slot:cell(acoes)="data">
        <div class="d-flex justify-content-center-md justify-content-sm-start">
          <b-button @click="verProcesso(data.item)" size="sm" variant="outline-primary">Detalhes</b-button>
        </div>
      </template>-->
    </b-table>

    <div class="row paginacao">
      <b-pagination
        v-model="currentPage"
        :total-rows="processos.length"
        :per-page="perPage"
        class="col-12 col-sm-7"
      ></b-pagination>
      <b-form-group
        label-cols-sm="8"
        label="Itens por página"
        class="mb-0 col-6 col-sm-5"
      >
        <b-form-select
          v-model="perPage"
          size="sm"
          :options="pageOptions"
        ></b-form-select>
      </b-form-group>
    </div>
  </div>
</template>

<script>
import router from '../../router/index';
import { utils } from '../../utils/dataUtil';

export default {
  props: ['processos'],
  data() {
    return {
      fields: [
        {
          key: 'dataProtocolo',
          label: 'Data de Protocolo',
          sortable: true,
          formatter: utils.maskData,
        },
        {
          key: 'nomeInteressado',
          sortable: false,
        },
        {
          key: 'numeroProcessoEditado',
          sortable: false,
          label: 'Processo',
        },
        {
          key: 'acoes',
          sortable: false,
          thStyle: {
            color: '#1268b3',
          },
        },
      ],
      perPage: 6,
      pageOptions: [6, 10, 20, 40, 80],
      currentPage: 1,
      filter: null,
    };
  },
  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    verProcesso(item) {
      console.log(item);
      router.push(`/processo/info/${item.numeroProcessoEditado}`);
    },
  },
};
</script>

<style></style>
