<template>
  <div class="d-flex flex-column h-100">
    <div id="app">
      <router-view />
    </div>
    <Rodape />
  </div>
</template>

<script>
import 'bootstrap/dist/js/bootstrap.bundle';
import Rodape from './components/rodape/Rodape.vue';
// COMMON CSS
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

export default {
  components: { Rodape },
};
</script>
