<template>
  <div id="homeBusca" class="container">
    <div class="container">
      <h1 class="titulo">Consulta de processo</h1>
      <h6 class="subtitulo">
        Consulte os processos pelo número do CPNJ da empresa desejada.
      </h6>
      <div class="form-group">
        <b-row class="justify-content-center">
          <b-col cols="12" md="5">
            <the-mask
              type="text"
              class="form-control mb-3"
              id="input-busca-processo"
              placeholder="Informe o CNPJ"
              v-model="cnpj"
              :mask="['##.###.###/####-##']"
            />
          </b-col>
          <b-col cols="12" md="3">
            <b-button
              variant="primary"
              class="w-100"
              @click.prevent="buscaProcessosPorCnpj"
            >
              Consultar
            </b-button>
          </b-col>
        </b-row>
        <p style="color: red">{{ erro }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import router from '../../router';
import { cnpjUtils } from '../../utils/cnpjUtil';

import { TheMask } from 'vue-the-mask';

export default {
  components: { TheMask },
  props: {},
  data() {
    return {
      cnpj: '',
      erro: '',
    };
  },
  computed: {},
  methods: {
    buscaProcessosPorCnpj() {
      if (cnpjUtils.validarCNPJ(this.cnpj)) {
        router.push(`/lista/processos/${this.cnpj}`);
      } else {
        this.erro = 'Informe um CNPJ válido.';
      }
    },
  },
  created() {},
  mounted() {},
};
</script>

<style scoped></style>
