body {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

html {
  height: 100% !important;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table th {
  background: #1268b3;
  color: #fbfbfb;
  font-weight: 700;
}

.paginacao {
  display: flex;
  justify-content: space-between;
}

.pagination {
  justify-content: center;
}

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(31, 31, 31);
  margin-bottom: 50px;
}
.topo {
  background: #cce8e1;
  padding: 30px;
}

.custom-file-input:lang(pt) ~ .custom-file-label::after {
  content: 'A';
}

.pointer {
  cursor: pointer;
}
/*Texto*/

.titulo {
  font-weight: bold;
  text-transform: uppercase;
  color: #505050;
  margin-bottom: 0.2em;
  margin-top: 2em;
}

.subtitulo {
  color: #505050;
  margin-bottom: 2em;
}

/*Menu*/
.menu {
  background-color: #cce8e1;
}

/*Rodape*/
.rodape {
  margin-top: auto !important;
  display: flex;
  width: 100%;
  height: 100px;
  background: #97cae7;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

/*ConsultaCNPJ*/
.arquivo-anexado {
  background-color: #ececec;
  padding: 5px;
}

.btn-trocar-cnpj {
  height: 30px;
  margin-left: 30px;
}

.modal-footer {
  justify-content: center;
}

.btn-atualizar {
  padding: 0 81px;
  margin: 0 15px;
  height: 40px;
  width: 100%;
}

.form-bg {
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 1px 8px 2px #80808021;
  padding: 30px;
  margin: 40px 0;
}

.btn-cancelar {
  padding: 6px 60px;
}

.modal-content p {
  font-weight: 500;
  color: #757575;
}

.modal-header {
  background-color: #97cae7;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.modal-title {
  width: 100%;
}

.btn-alterar-cnpj {
  width: 100%;
  background-color: #1268b3;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  margin-bottom: 15px;
}

.btn-alterar-cnpj:hover {
  background-color: #084f8c;
}

textarea.form-control {
  height: auto;
  resize: none;
}

button.close,
button.close:hover {
  color: #ffffff;
}

button.close:focus {
  outline: 0;
}

header#modalErro___BV_modal_header_ {
  background-color: #dc3545;
}

header#modalSucesso___BV_modal_header_ {
  background-color: #28a745;
}

@media (max-width: 527px) {
  .titulo {
    margin-top: 1em;
  }
}

@media (max-width: 575px) {
  .paginacao {
    justify-content: center;
  }
}
