<template>
  <div id="movimentos" class="container"></div>
</template>

<script>
export default {
  props: {},
  data() {
    return {};
  },
  computed: {},
  methods: {},
  created() {},
  mounted() {},
};
</script>

<style scoped>
#movimentos {
  height: 100vh;
}
</style>
