<template>
  <div class="menu">
    <div class="container">
      <b-navbar toggleable="lg" class="justify-content-center">
        <b-navbar-brand href="/martinelli-front">
          <img
            src="@/assets/img/logo-nucleo-de-inteligencia-menu.png"
            class="img-fluid"
            alt="Logo"
          />
        </b-navbar-brand>
      </b-navbar>
    </div>
  </div>
</template>
